<div class="l-footer">
  <div class="c-container">
    <ul class="p-subNav c-grid">
      <li class="p-subNav_section c-grid_item c-grid_item-3">
        <h3 class="p-subNav_title">Category 1</h3>
        <ul class="p-subNav_list">
          <li class="p-subNav_item"><a href="#">Item 1-1</a></li>
          <li class="p-subNav_item"><a href="#">Item 1-2</a></li>
          <li class="p-subNav_item"><a href="#">Item 1-3</a></li>
          <li class="p-subNav_item"><a href="#">Item 1-4</a></li>
          <li class="p-subNav_item"><a href="#">Item 1-5</a></li>
        </ul>
      </li>
      <li class="p-subNav_section c-grid_item c-grid_item-3">
        <h3 class="p-subNav_title">Category 2</h3>
        <ul class="p-subNav_list">
          <li class="p-subNav_item"><a href="#">Item 2-1</a></li>
          <li class="p-subNav_item"><a href="#">Item 2-2</a></li>
          <li class="p-subNav_item"><a href="#">Item 2-3</a></li>
          <li class="p-subNav_item"><a href="#">Item 2-4</a></li>
          <li class="p-subNav_item"><a href="#">Item 2-5</a></li>
        </ul>
      </li>
      <li class="p-subNav_section c-grid_item c-grid_item-3">
        <h3 class="p-subNav_title">Category 3</h3>
        <ul class="p-subNav_list">
          <li class="p-subNav_item"><a href="#">Item 3-1</a></li>
          <li class="p-subNav_item"><a href="#">Item 3-2</a></li>
          <li class="p-subNav_item"><a href="#">Item 3-3</a></li>
          <li class="p-subNav_item"><a href="#">Item 3-4</a></li>
          <li class="p-subNav_item"><a href="#">Item 3-5</a></li>
        </ul>
      </li>
      <li class="p-subNav_section c-grid_item c-grid_item-3">
        <h3 class="p-subNav_title">Share</h3>
        <ul class="p-subNav_list">
          <li class="p-subNav_item"><span style="cursor: pointer;" class="js-shareSNS-twitter" data-url="<%= CONSTANT.url %>" data-text="text text text." data-hash="test">Twitter</span></li>
          <li class="p-subNav_item"><span style="cursor: pointer;" class="js-shareSNS-facebook" data-url="<%= CONSTANT.url %>">Facebook</span></li>
          <li class="p-subNav_item"><span style="cursor: pointer;" class="js-shareSNS-google" data-url="<%= CONSTANT.url %>">Google+</span></li>
          <li class="p-subNav_item"><span style="cursor: pointer;" class="js-shareSNS-hatena" data-url="<%= CONSTANT.url %>">Hatena</span></li>
          <li class="p-subNav_item"><span style="cursor: pointer;" class="js-shareSNS-line" data-url="<%= CONSTANT.url %>"></span></li>
          <li class="p-subNav_item"><div class="js-scroll" style="cursor: pointer; text-align: right" data-scroll-target="#">●</div></li>
        </ul>
      </li>
    </ul>
  </div>
  <footer class="p-footer">
    <p class="p-footer_copy"><small>Copyright &copy; 2017 example Inc. All rights reserved.</small></p>
  </footer>
</div><!-- ./l-footer -->